:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

/* CSS */
/* Hide scrollbar by default */
::-webkit-scrollbar {
  width: 0px; /* Set width of the scrollbar */
}

.xs {
  font-size: 12px;
}

.xxs {
  font-size: 10px;
}

.user:hover {
  background-color: rgba(0, 0, 0, 0.02); /* Adjust opacity as needed */
  border-radius: 10px;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}