.credentials {
  width: 300px;
  height: Hug (40px) px;
  padding: 14px 21px 14px 21px;
  gap: 10px;
  border-radius: 30px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #00000047;
}
